.landing
	.header
		.row-fluid	
			.span2
			.span8.header_menu_bar

				.item{:style=>'float:left;',:onclick=>"$('html, body').animate({scrollTop:$('#bomberman_title').position().top},'slow')"}
					.arrow{:style=>'float:left;'}
						.icon-caret-right
					.content{:style=>'float:left;'}
						='Bomberball'

				.item
					.content
						='Play now'
					.arrow.active
						.icon-caret-right
					
				.item{:onclick=>"$('html, body').animate({scrollTop:$('#about').position().top},'slow')"}
					.content
						='About Me'
					.arrow
						.icon-caret-right
					
				.item{:onclick=>"$('html, body').animate({scrollTop:$('#devices').position().top},'slow')"}
					.content
						='Devices'
					.arrow
						.icon-caret-right
					
				.item{:onclick=>"$('html, body').animate({scrollTop:$('#how_works').position().top},'slow')"}
					.content
						='How it works'
					.arrow
						.icon-caret-right
			.span2
	-#fin header
	-#cita
	.content_title_1#bomberman_title
		%h2.text-center='"It looks like a classic Bomberman game"'
	-#cajas explicativas how works con 3 pasos
	.content_title_2#how_works
		.row-fluid
			.span2
			.span8
				.title
					%h3.text-center='Start easy!'
				.boxes_content
					.box{:style=>'margin-left: 0;'}
						.social_actions
							.icon-facebook-sign.icon
							.icon-twitter-sign.icon
							.icon-google-plus-sign.icon
							=image_tag('enso_icon.svg',:size=>'50x50',:class=>'icon',:style=>'position:relative;top:-4px;')
						.caption
							%h3='Step 1'
							%p='Login with your favorite social network.'

					.box
						=image_tag('', :size => "300x200", :alt => 'Aqui va Imagen de ...................Personalize your bombardier.')
						.caption
							%h3='Step 2'
							%p='Personalize your bombardier.'
					.box
						=image_tag('', :size => "300x200", :alt => 'Aquí va Imagen de ..............................Play with your friends.')
						.caption
							%h3='Step 3'
							%p='Play with your friends.'
			.span2
	-#fin cajas
	%div{:style=>'height:1px;width:100%;color:#2E3138;'}
	-# devices
	.content_title_3#devices
		.row-fluid
			.span2
			.span8
				.title					
					%h3.text-center='Available in all devices by browser.'
				.devices
					.icon.icon-mobile-phone
					.icon.icon-tablet
					.icon.icon-laptop
					.icon.icon-desktop
			.span2
	-# fin devices
	-#about
	.content_title_4#about
		.row-fluid
			.span2
			.span8
				.title					
					%h3.text-center='Daniel Romero Esteban'
				.caption
					%h5='Hi everybody!'
					%p
						="I'm graduate on Information Systems by University of Alcalá and actually I'm web developer at"
						=link_to('Beperk.com','http://www.beperk.com',:target=>'_blank')					
					%br
					.span6{:style=>'margin-left:0;'}
						%h5
							='Me social'
						%p
							='View this project on '
							=link_to ' GitHub ','https://github.com/danielRomero' ,:target => '_brank' ,:class=>'icon-github'
						%p
							='Follow me '
							=link_to '','https://twitter.com/DanielRomeroE' ,:target => '_brank' ,:class=>'icon-twitter'
						%p
							='Link to me '
							=link_to '','http://www.linkedin.com/pub/daniel-romero-esteban/72/1a/b29' ,:target => '_brank' ,:class=>'icon-linkedin'
					.span6
						=image_tag('http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/6/000/265/3e6/0426659.jpg',:alt=>'Daniel Romero Esteban')

					%br{:style=>'clear:both;'}

					%h5='About this project'
					%p
						='Bomberball is the name of this application which is my TFG (final degree project).'
						%br
						="It's written on Ruby using the Ruby on Rails framwework."
						%br
						='More technical details:'
						.span4
							%ul.icons-ul
								%li{:style=>'font-weight: bold;padding-bottom:5px;'}
									.icon-li.icon-camera-retro
									='front-end'
								%li
									.icon-li.icon-ok
									='CoffeeScript'
								%li
									.icon-li.icon-ok
									='SASS'
								%li
									.icon-li.icon-ok
									='Haml'
								%li
									.icon-li.icon-ok
									='jCanvas'
								%li
									.icon-li.icon-ok
									='Bootstrap'
								%li
									.icon-li.icon-ok
									='Font Awesome'
						.span4
							%ul.icons-ul
								%li{:style=>'font-weight: bold;padding-bottom:5px;'}
									.icon-li.icon-gears
									='back-end'
								%li
									.icon-li.icon-ok
									='PostgreSQL'
								%li
									.icon-li.icon-ok
									='Ruby on Rails 4.0'
								%li
									.icon-li.icon-ok
									='Active Record'
								%li
									.icon-li.icon-ok
									='MVC'
						
						%br{:style=>'clear:both;'}
							
								
						-#footer
						%hr
						.footer
							%h6{:style=>'font-weight:normal'}
								='2013 Daniel Romero Esteban'
								%a{:rel=>'license', :href=>'http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es',:target=>'_blank'}
									=image_tag('http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png', :alt=>'Licencia Creative Commons', :style=>'border-width:0')
								='Esta obra está bajo una'
								%a{:rel=>'license', :href=>'http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es',:target=>'_blank'}
									='Licencia Creative Commons Atribución-NoComercial-SinDerivadas 3.0 Unported'
							
							.icon-html5
							.icon-css3
							.icon-github
							=image_tag('http://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/198px-Ruby_logo.svg.png',:size=>'20x20',:id=> 'fff')
							=image_tag('http://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/122px-Ruby_on_Rails.svg.png',:size=>'20x20')
							=image_tag('http://wiki.postgresql.org/images/a/a4/PostgreSQL_logo.3colors.svg',:size=>'20x20',:id=>'aa')
			.span2
						



	
	

