.landing
	.content_title_1#bomberman_title
		%h2.text-center.active='"It looks like a classic Bomberman game"'
		%h2.text-center='"It looks like a classic Bomberman game1"'
		%h2.text-center='"It looks like a classic Bomberman game2"'
		%h2.text-center='"It looks like a classic Bomberman game3"'
		%h2.text-center='"It looks like a classic Bomberman game4"'
	-# cajas explicativas how works con 3 pasos
	.content_title_2#how_works
		.row
			.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-xs-12.col-sm-12
				.title{:style=>'padding-bottom:15px;'}
					%h2.text-center='Start easy!'
				.row.text-center
					.content_box.col-lg-6.col-md-6.col-xs-12.col-sm-12
						.box{:style=>'height:380px;'}
							.social_actions
								=link_to(login_facebook_path) do
									.icon-facebook-sign.icon
								=link_to('#twitter_email','data-toggle'=>'modal') do
									.icon-twitter-sign.icon
								%br
								=link_to(login_google_path) do
									.icon-google-plus-sign.icon
								=link_to(login_beperk_path) do
									.beperk-icon-enso_box.icon{:style=>'font-size:52px;'}
							.caption
								%h3='Step 1'
								%p='Enter with your favorite social network.'
							%hr
							%h6
								=link_to 'Terms and license, data usage, cookies policy', privacy_license_and_terms_path,:target=>'_blank',:class=>'cool_anchor'
					.content_box.col-lg-6.col-md-6.col-xs-12.col-sm-12
						.box{:style=>'height:380px;'}
							.social_actions.canvas_personalizes
								%canvas#canvas_personalize{:width=>'205'}
									:javascript
										var x = 105;
										var y = 40;
										var width = 40;
										var height = 40;
										var animation1=0;
										function dibujar(){
											$("#canvas_personalize").clearCanvas();
											$("#canvas_personalize").drawEllipse({
											  fillStyle: "#c33",
											  x: x, y: y+animation1,
											  width: width, height: height,
											}).drawEllipse({
											  fillStyle: "#000",
											  x:(x-parseInt(width/4)) , y:(y-parseInt(height/6))+animation1,
											  width: parseInt(width*0.2), height: parseInt(height*0.3),
											}).drawEllipse({
											  fillStyle: "#000",
											  x:(x+parseInt(width/4)) , y:(y-parseInt(height/6))+animation1,
											  width: parseInt(width*0.2), height: parseInt(height*0.3),
											}).drawEllipse({
											  fillStyle: "green",
											  x: x, y: y+height+height/2,
											  width: (width*2)+animation1,
											  height: (height*2)-animation1
											}).drawEllipse({
											  fillStyle: "red",
											  x: parseInt(x+width/1.1), y: parseInt((y+(height/2)+height/3)+(animation1/2)),
											  width: parseInt(width*0.2),
											  height: parseInt(height*0.2)
											}).drawEllipse({
											  fillStyle: "red",
											  x: parseInt(x-width/1.1), y: parseInt((y+(height/2)+height/3)-(animation1/2)),
											  width: parseInt(width*0.2),
											  height: parseInt(height*0.2)
											}).drawEllipse({
											  fillStyle: "black",
											  x: parseInt((x+width/1.4)+(animation1/2)), y: parseInt(y+height/2+height*1.9),
											  width: parseInt(width*0.2),
											  height: parseInt(height*0.2)
											}).drawEllipse({
											  fillStyle: "black",
											  x: parseInt((x-width/1.4)-(animation1/2)),  y: parseInt(y+height/2+height*1.9),
											  width: parseInt(width*0.2),
											  height: parseInt(height*0.2)
											});

											animation1=1;

										}
										dibujar();

							.caption
								%h3='Step 2'
								%p='Personalize your bombardier.'
							%hr
							%h6
								='some text here because simetry is important in this boxes'
					%div{:style=>'clear:both'}
					.content_box.col-lg-12.col-md-12.col-xs-12.col-sm-12
						.box{:style=>'height:380px;'}
							='Aquí va Imagen de Play with your friends.'
							.caption
								%h3='Step 3'
								%p='Play with your friends.'
							%hr
							%h6
								='some text here because simetry is important in this boxes'

	-# fin cajas
	%div{:style=>'height:1px;width:100%;color:#2E3138;'}
	-# devices
	.content_title_3#devices
		.row
			.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-xs-12.col-sm-12
				.title					
					%h3.text-center='Available in all devices by browser'
				.devices
					.row.text-center
						.col-lg-3.col-md-3.col-xs-6.col-sm-6
							.device.icon-mobile-phone
						.col-lg-3.col-md-3.col-xs-6.col-sm-6
							.device.icon-tablet
						.col-lg-3.col-md-3.col-xs-6.col-sm-6
							.device.icon-laptop
						.col-lg-3.col-md-3.col-xs-6.col-sm-6
							.device.icon-desktop
	-# fin devices
	-# about
	=render :partial => 'landing/about_me'
	-# MODAL WINDOW
	.modal.fade#login_modal
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{:type=>'button','data-dismiss'=>'modal', 'aria-hidden'=>'true'}='x'
					%h4.modal-title='Enter with your social network'
				.modal-body
					.social_actions
						=link_to(login_facebook_path) do
							.icon-facebook-sign.icon
						=link_to('#twitter_email','data-toggle'=>'modal',:onclick=>"$('#login_modal').find('.close').click();") do
							.icon-twitter-sign.icon
						=link_to(login_google_path) do
							.icon-google-plus-sign.icon
						=link_to(login_beperk_path) do
							.beperk-icon-enso_box.icon{:style=>'font-size: 52px; line-height:50px;'}
					%hr
					%h6
						=link_to 'Terms and license, data usage, cookies policy', privacy_license_and_terms_path,:target=>'_blank',:class=>'cool_anchor_dark'
	-# MODAL WINDOW request twitter email
	.modal.fade#twitter_email
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{:type=>'button','data-dismiss'=>'modal', 'aria-hidden'=>'true'}='x'
					%h4.modal-title='With Twitter we need your email address'
				.modal-body
					=form_tag(login_twitter_post_path,:class=>'form-inline',:role=>'form') do
						.form-group
							=email_field('twitter_email','',:required=>'required',:class=>'form-control',:placeholder=>'example@email.com')
						=submit_tag('Submit',:id=>'twitter_email_submit',:class=>'btn btn-primary')
						%hr
						%h6
							=link_to 'Terms and license, data usage, cookies policy', privacy_license_and_terms_path,:target=>'_blank',:class=>'cool_anchor_dark'
	:javascript
		$(document).ready(function() {
			$('#twitter_email').draggable();
			$('#login_modal').draggable();
		});