.box
	.title
		%h4
			='Social profile'
	=form_for @user, :remote=>true do |u|
		.social_profile
			.avatar_placeholder
				=u.hidden_field :avatar_url	
				=image_tag(@user.avatar_url, size: "200x200", :alt=>'avatar',:id=>'user_avatar')
			-if(@socials.count>1)
				.avatar_chooser.text-center
					.mini_avatar_placeholder
						-for social in @socials
							=image_tag(social.avatar_url, size: '50x50', :alt=>'choose avatar', :class=>'mini_avatar',:onclick=>"$('#user_avatar_url').val($(this).attr('src'));$('#edit_user_#{@user.id}').submit();")
			.name_placeholder
				=@user.name

			.name_chooser
				=u.text_field :name, :class=>'name_field', :required => 'required'
				:javascript
					$(function() {
					  $('#user_name').keyup(function() {
							$('#loading_user_name').show();
							delay(function(){
								$('#loading_user_name').hide();
								$("#edit_user_#{@user.id}").submit();
							}, 1000 );
						});
					});
				%div{:style=>'min-width:20px;display:inline-block'}
					.icon-spinner.icon-spin#loading_user_name