.cookies_privacy
	%h4
		Bomberball COOKIES POLICY

	%h5
		Credit

	%p
		This document was created using a Contractology template available at http://www.freenetlaw.com.

	%h5
		About cookies
	%p
		This website uses cookies.  By using this website and agreeing to this policy, you consent to Daniel Romero's use of cookies in accordance with the terms of this policy.

		Cookies are files sent by web servers to web browsers, and stored by the web browsers. 

		The information is then sent back to the server each time the browser requests a page from the server.  This enables a web server to identify and track web browsers. 

		There are two main kinds of cookies: session cookies and persistent cookies.  Session cookies are deleted from your computer when you close your browser, whereas persistent cookies remain stored on your computer until deleted, or until they reach their expiry date.

	%h5
		Cookies on our website

	%p
		Bomberball uses the following cookies on this website, for the following purposes:

		_bomberball_session => Save current user session until session expires

	%h5
		Google cookies

	%p
		Bomberball can use Google Analytics to analyse the use of this website.  Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers.  The information generated relating to our website is used to create reports about the use of the website. Google will store and use this information.  Google's privacy policy is available at: http://www.google.com/privacypolicy.html.]


	%h5
		Refusing cookies
	%p
		Most browsers allow you to refuse to accept cookies.  

		In Internet Explorer, you can refuse all cookies by clicking “Tools”, “Internet Options”, “Privacy”, and selecting “Block all cookies” using the sliding selector.  

		In Firefox, you can adjust your cookies settings by clicking “Tools”, “Options” and “Privacy”.
	%h5
		Blocking cookies will have a negative impact upon the usability of some websites.
