.data_usage_policy
%h4
	Bomberball Data usage policy
%h5
	We collect but do not link personal and activity data.
%p
	We use technologies like cookies (small files stored by your browser), web beacons, or unique device identifiers to anonymously identify your computer or device so we can deliver a better experience. Our systems also log information like your browser, operating system and IP address.
%h5
	We also may collect personally identifiable information that you provide to us, such as your name, address, phone number or email address.
%p
	With your permission, we may also access other personal information on your device, such as your phone book, calendar or messages, in order to provide services to you. If authorized by you, we may also access profile and other information from services like Facebook.

	Our systems are not designed to associate personal information with your activities (such as pages you view or things you click on or search for).
%h5
	We do not knowingly contact or collect personal information from children under 13.
%p
	If you believe we have inadvertently collected such information, please contact us so we can promptly obtain parental consent or remove the information.
%h5
	We do not store or share your precise location.
%h5
	We do not use or collect your precise geographic location.

%p
	You can also contact us by email (daniel.romero.esteban@gmail.com)  to request to see or delete any personally identifiable information we have stored, such as your name, address, email or phone number.
%h5
	We keep personal data until you request delete it.
%p
	We remove personally identifiable information (such as your name, address, email or phone number) and other preferences associated with your account promptly after you delete your account. We may retain other data indefinitely.
%h5
	We don't share your personal data with other companies.
%p
	We generally do not share personally identifiable information (such as name, address, email or phone) with other companies. 
%h5
	We take steps to protect personal information
%p
	We take reasonable steps to secure your personally identifiable information against unauthorized access or disclosure. We encrypt transmission of data on pages where you provide payment information. However, no security or encryption method can be guaranteed to protect information from hackers or human error.
%p
	Information we collect may be stored or processed on computers located in any country where we do business. 
%h5
	You can ask privacy questions.
%p
	If you have any questions or concerns about our privacy policies, please contact us: daniel.romero.esteban@gmail.com 