.privacy_and_tos
	%h3='Bomberball License'
	='2013 Daniel Romero Esteban'
	=link_to('http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es',:rel=>'license',:target=>'_blank') do
		=image_tag('http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png', :alt=>'Licencia Creative Commons', :style=>'border-width:0')
	='Esta obra está bajo una'
	=link_to('http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es',:rel=>'license',:target=>'_blank') do
		='Licencia Creative Commons Atribución-NoComercial-SinDerivadas 3.0 Unported'