
//= require_self
//= require jquery.ui.all
//= require font-awesome
//= require_tree .
 
 
.tfg{
	footer{
		background-color: #24252A;
	}
	a:hover {
	 text-decoration: none !important
	}
	a:active {
	 text-decoration: none !important
	}
	a {
	 text-decoration: none !important
	}
	
	a.cool_anchor{
		color:#777777;
	}
	a.cool_anchor:hover{
		color:#DADADB;
	}
	a.cool_anchor_dark{
		color:#777777;
	}
	a.cool_anchor_dark:hover{
		color:#2E3138;
	}
	
	.header{
		.navbar{
			margin-bottom: 0;
			padding-left: 0;
			padding-right: 0;
			background: none;
			border:none;
			background-color: #2E3138 !important;
			box-shadow: 0px 2px 2px #060606;
			-moz-box-shadow: 0px 2px 2px #060606;
			-webkit-box-shadow: 0px 2px 2px #060606;
			a{
				text-shadow:none;
			}
			a:hover{
				color: #DADADB;
			}
			.container{
				border-top: 4px solid #EE6162;
				padding-left: 0;
				padding-right: 0;
			}
			.user_name{
				height: 50px;
				line-height: 50px;
				width: 70%;
				font-size: 18px;
				a{
					color:#777777;
				}
				a:hover{
					color:#DADADB;
				}
			}
			.icon-cog{
				font-size: 18px;
			}
		}
	}
}
