// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tfg{
	.show_user{
		background: url("bg.png") repeat scroll 0 0 #2A2A2A;

		header{
			.jumbotron{
				margin-top: 30px;
     		border-radius: 10px;
     		opacity: .3;
			}
		}
		article{
			.box{
				border-radius: 10px;
     		opacity: .3;
     		background-color: #EEEEEE;
     		height:400px;
     		margin-bottom: 30px;
			}
		}
		footer{
			margin-bottom: 30px;
		}
	}
}
