// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tfg{
	.show_user{
		background: url("bg.png") repeat scroll 0 0 #2A2A2A;

		header{
			.jumbotron{
				margin-top: 30px;
     		border-radius: 10px;
     		opacity: .3;
			}
		}
		article{
			.box{
				border-radius: 10px;
     		opacity: .3;
     		background-color: #EEEEEE;
     		height:400px;
     		margin-bottom: 30px;
     		padding:10px;
     		.title{
     			text-align: center;
     		}
     		.social_profile{
     			text-align: center;
     			.avatar_placeholder{
     				padding-top:10px;
	     		}
	     		.avatar_chooser{
	     			padding-top:10px;
	     		}
	     		.name_placeholder{
	     			padding-top:10px;
	     		}
	     		.name_chooser{
	     			padding-top:10px;	
	     		}
     		}
     		.colours_picker{
     			padding-top: 10px;
     			canvas{
     				background-color: #2B2B2B;
     				border-radius: 10px;
     				padding: 10px 0;
     				margin: 10px 0 10px 5px;
     			}
					.bombardier{
     				padding-left:0px;
     			}
	     		.bomb{
	     			
	     		}
     		}
     		
			}
		}
		footer{
			margin-bottom: 30px;
		}
	}
}
